<template>
  <section>
    <div
      class="bg-cover hover:bg-gray object-cover object-center h-64 w-full"
      style="
        background-image: url('https://houzy.wpengine.com/wp-content/uploads/2020/04/realestate-listing-3.jpg');
      "
    ></div>
    <div class="flex flex-row p-6 divide-x-2">
      <div class="basis-1/2">
        <h1 class="text-2xl mb-2 font-bold text-blue-900">{{ houseName }}</h1>
        <p class="font-bold"><sup>$</sup>{{ price }}</p>
        <button
          class="bg-blue-500 hover:bg-blue-400 text-white font-bold px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded capitalize"
        >
          {{ houseType }}
        </button>
      </div>
      <div class="basis-1/2 pl-3">
        <div>
          <p class="mt-2">
            <span class="mr-2"><i class="fas fa-chart-area"></i></span>
            Sq Ft: {{ price }}
          </p>
          <p class="mt-2">
            <span class="mr-2"><i class="fas fa-bed"></i></span>
            Beds: 4
          </p>
          <p class="mt-2">
            <span class="mr-2"><i class="fas fa-shower"></i></span>
            Baths: 2
          </p>
        </div>
      </div>
    </div>
    <div class="directions md:pl-8">
      <p class="mt-2">
        {{ description }}
      </p>
    </div>

    <div class="directions md:pl-8">
      <p class="mt-2">
        <span class="text-blue-700 mr-3"
          ><i class="fas fa-map-marker-alt"></i
        ></span>
        6 killo yekatit 12 hospital
      </p>
    </div>

    <div class="show-details">
      <button
        class="bg-white w-full md:mt-8 hover:bg-blue-500 text-gray-800 font-semibold py-4 px-4 border border-blue-100 rounded shadow"
      >
        <router-link :to="houseDetailLink">Show Details</router-link>
      </button>
    </div>
  </section>
</template>

<script>
export default {
  props: [
    "id",
    "name",
    "house_type",
    "description",
    "price",
    "subcity",
    "category",
    "state",
    "wereda",
    "floor_no",
    "room_no",
    "sqare_feet",
    "user",
  ],
  computed: {
    houseDetailLink() {
      return "/houses/" + this.id;
    },
    houseName() {
      return this.name;
    },
    houseType() {
      return this.house_type;
    },
  },
};
</script>
