<template>
  <section>
    <add-new-home @save-data="saveData"></add-new-home>
  </section>
</template>

<script>
import AddNewHome from "../../components/owners/AddNewHome.vue";
export default {
  components: {
    AddNewHome,
  },
  methods: {
    saveData(data) {
       const realData = {
        name: data.house,
        price: data.price,
        description: data.description,
        category: data.category,
        roomNo: data.room_no,
        floorNo: data.floor_no,
        state: data.state,
        subCity: data.sub_city,
        wereda: data.wereda
      };
      console.log(realData)
      this.$store.dispatch("appartment/addAppartment", realData);
      this.$router.replace("/houses");
    },
  },
};
</script>

<style></style>
