<template>
  <section>
    <map-application></map-application>
  </section>
</template>

<script>
import MapApplication from "./MapApplication.vue";
export default {
  components: {
    MapApplication,
  },
};
</script>

<style></style>
