<template>
  <!-- gmaps-map requires a height to fill -->
  <div style="height: 800px">
    <gmaps-map :center="center" :zoom="zoom">
      <gmaps-marker :position="{ lat: 9.03314, lng: 38.75008 }" />
      <gmaps-marker :position="{ lat: 9.03314, lng: 20.75008 }" />
      <gmaps-marker :position="{ lat: 9.03314, lng: 20.75008 }" />
      <gmaps-marker :position="{ lat: 9.0, lng: 20.75008 }" />
      <gmaps-marker :position="{ lat: 9.5, lng: 34.75008 }" />
      <gmaps-marker :position="{ lat: 8.03314, lng: 35.75008 }" />
    </gmaps-map>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { gmapsMap, gmapsMarker } from "v3-gmaps";

export default defineComponent({
  components: { gmapsMap, gmapsMarker },
  setup() {},
});
</script>
