<template>
  <section>
    <div ref="search" class="search-container"></div>
    <div class="card-container"></div>
    <footer>
      <aside>
        <nav>
          <calcite-button appearance="outline" width="full" label="Home">
            <calcite-icon icon="home"></calcite-icon>
          </calcite-button>
        </nav>
      </aside>
    </footer>
  </section>
</template>
<script lang="ts">
/* eslint-disable */
import { loadModules } from "esri-loader";
import "@arcgis/core/assets/esri/themes/light/main.css";
import "@esri/calcite-components/dist/calcite/calcite.css";
import { defineCustomElements } from "@esri/calcite-components/dist/custom-elements";
import Search from "@arcgis/core/widgets/Search";
defineCustomElements();
export default {
  mounted() {
    const search = new Search({
      container: this.$refs.search as HTMLElement,
    });
  },
};
</script>
<style scoped>
.search-container {
  width: 100%;
}
.card-container {
  width: 100%;
}
</style>

