<template>
  <div id="wrapper">
    <div class="map">
      <slot name="map"></slot>
      <div class="log" title="Event Log">
        <ul>
          <li v-for="(l, i) in logs" :key="i">
            {{ logs.length - i }}. {{ l }}
          </li>
        </ul>
      </div>
    </div>
    <div class="controls">
      <slot name="controls"></slot>
    </div>
    <div class="description">
      <slot name="description">No description.</slot>
    </div>
  </div>
</template>

<script>
import { logs } from "./store";
import { defineComponent } from "vue";
export default defineComponent({
  setup() {
    return { logs };
  },
});
</script>
