<template>
  <section>
    <!-- Hero -->

    <div class="bg-hero-section md:mt-5 bg-no-repeat bg-cover bg-center">
      <div class="bg-blue-100 bg-opacity-80">
        <div
          class="max-w-5xl h-32 flex md:flex-row flex-col md:py-8 items-baseline mx-5 pt-5 md:mx-10 configure-maximum"
        >
          <p class="text-gray-900 font-bold text-4xl flex-1 remove-left">
            {{ houseName }}
          </p>
          <nav class="md:mt-4 text-gray-800" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
              <li class="inline-flex items-center">
                <a
                  href="#"
                  class="hover:text-gray-900 inline-flex items-center"
                >
                  <svg
                    class="w-5 h-5 mr-2.5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                    ></path>
                  </svg>
                  Home
                </a>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="w-6 h-6 text-gray-900"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <a
                    href="#"
                    class="hover:text-gray-900 ml-1 md:ml-2 text-sm font-medium"
                    >Houses</a
                  >
                </div>
              </li>
              <li aria-current="page">
                <div class="flex items-center">
                  <svg
                    class="w-6 h-6 text-white"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span
                    class="text-gray-500 ml-1 md:ml-2 text-sm font-medium"
                    >{{ houseName }}</span
                  >
                </div>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ["houseName"],
};
</script>
