<template>
  <section>
    <!--Card 1-->
    <div class="rounded overflow-hidden shadow-lg md:max-w-3xl mx-auto my-8">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a class="hover:underline" :href="emailLink"> {{ email }}</a>
        </div>
        <p class="text-gray-700 text-base">
          {{ message }}
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >{{ fname }} {{ lname }}</span
        >
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ["fname", "lname", "email", "message"],
  computed: {
    emailLink() {
      return "mailto:" + this.email;
    },
  },
};
</script>

<style></style>
