<template>
  <section>
    <div>
      <message-item
        v-for="receivedMessage in messages"
        :key="receivedMessage.id"
        :fname="receivedMessage.f_name"
        :lname="receivedMessage.l_name"
        :email="receivedMessage.email"
        :message="receivedMessage.message"
      ></message-item>
    </div>

    <h3>There is no messages comming...</h3>
  </section>
</template>

<script>
import MessageItem from "./MessageItem.vue";
export default {
  components: {
    MessageItem,
  },
  computed: {
    messages() {
      return this.$store.getters["messages/messages"];
    },
    hasMessages() {
      return this.$store.getters["messages/hasMessages"];
    },
  },
  methods: {
    async loadMessages() {
      this.isLoading = true;
      try {
        await this.$store.dispatch("messages/loadMessages");
      } catch (error) {
        this.error = error.message || "Something went wrong!";
      }
      this.isLoading = false;
    },
  },
  created() {
    this.loadMessages();
  },
};
</script>
<style scoped></style>
