<script>
import TheHeader from "./components/layout/TheHeader.vue";
import TheFooter from "./components/layout/TheFooter.vue";
export default {
  components: {
    TheHeader,
    TheFooter,
  },
  created() {
    this.$store.dispatch("tryLogin");
  },
};
</script>

<template>
  <div
    class="leading-normal tracking-normal gradient"
    style="font-family: 'Source Sans Pro', sans-serif"
  >
    <the-header></the-header>
    <router-view></router-view>
    <the-footer></the-footer>
  </div>
</template>

<style>
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100;
}
</style>
