<template>
  <section>
    <owner-login @save-data="saveData"></owner-login>
  </section>
</template>

<script>
import OwnerLogin from "../../components/owners/OwnerLogin.vue";
import { mapActions } from "vuex";
export default {
  components: {
    OwnerLogin,
  },
  methods: {
    ...mapActions({ login: "login" }),
    async saveData(data) {
      try {
        await this.login(data);
        this.$router.replace('/houses')
      } catch (err) {
        console.log(err)
      }
    },
  },
};
</script>

<style></style>
