<template>
  <section>
    <owner-registration
      @save-data="saveData"
      :isLoading="isLoading"
      :error="error"
    ></owner-registration>
  </section>
</template>

<script>
import OwnerRegistration from "../../components/owners/OwnerRegistration.vue";
import { mapActions } from "vuex";
export default {
  components: {
    OwnerRegistration,
  },
  data() {
    return {
      isLoading: false,
      error: null,
    };
  },
  methods: {
    ...mapActions({
      registerOwner: "registerOwner",
    }),
    async saveData(data) {
      this.isLoading = true;
      try {
        await this.registerOwner(data);
        this.$router.replace("/houses");
      } catch (err) {
        this.error = err.message || "Failed to authonticate";
      }

      this.isLoading = false;
      // this.$store.dispatch("owner/registerOwner", data);
    },
  },
};
</script>

<style></style>
